
$artwork-size: 44px;

.tracks {
  margin: 0;
  padding: 0;

  .play-button {
    display: none;
    font-size: 26px;
    color: white;
    text-shadow: 0 0 10px black;
    line-height: 33px;
    width: 33px;
    text-align: center;
    cursor: pointer;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 12px 20px 12px ($artwork-size + 12px);
    border-bottom: 1px solid #F5F5F5;
    position: relative;

    &:hover {
      background: #F2F6FA;

      .play-button {
        display: inline-block;
      }
    }

    &.playing {
      &, &:hover {
        background: #F2784B;
        color: white;
      }
    }
  }

  .artwork {
    width: $artwork-size - 10;
    height: $artwork-size - 10;
    background-size: 100% auto;
    position: absolute;
    top: 5px;
    left: 11px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  }

  .author {
    font-weight: 300;

    &:before {
      content: '-';
      margin: 0 6px;
    }
  }

  .created-at {
    float: right;
  }


}
