
body {
  font-family: 'Lato', sans-serif;
  color: $text-color;
}

a {
  cursor: pointer;
}


h1 {
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 24px;
  color: rgba(white, .5);

  .snd {
    color: white;
  }

  .cld {
    color: rgb(217, 255, 119);
  }
}
