
  <div class="sidebar">
    <ul class="nav nav-sidebar">
      <li ui-sref-active="active">
        <a ui-sref="app.user.playlist({user: 'me', playlist: 'stream'})">
          <i class="fa fa-rss fa-fw"></i> Stream
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.user.playlist({user: 'me', playlist: 'favorites'})">
          <i class="fa fa-heart fa-fw"></i> Likes
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.user.playlist({user: 'me', playlist: 'sets'})">
          <i class="fa fa-folder fa-fw"></i> Sets
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.user.playlist({user: 'me', playlist: 'following'})">
          <i class="fa fa-users fa-fw"></i> Following
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.user.playlist({user: 'me', playlist: 'followers'})">
          <i class="fa fa-users fa-fw"></i> Followers
        </a>
      </li>
    </ul>
  </div>

  <div ui-view class="main-view"></div>

