
<div class="login-container">
  <div class="header">
    <h1><i class="fa fa-volume-up"></i> <span class="snd">snd</span><span class="cld">cld</span><span class="dot-io">.io</span></h1>
    <div class="lead">SoundCloud, on a diet</div>
  </div>

  <div class="">
    <a class="btn btn-primary" ng-click="login()">Login with your SoundCloud account</a>
  </div>

  <div class="mentions">
    <a href="https://soundcloud.com"><i class="fa fa-soundcloud"></i> Powered by SoundCloud</a>
    <a href="https://github.com/ArnaudD/soundcloud-player"><i class="fa fa-github"></i> Fork on Github</a>
  </div>
</div>
