
<ul class="tracks" sc-scroll-bottom="loadNext" scroll-threshold="200">
  <li ng-repeat="track in tracks" id="track-{{ track.id }}" ng-dblclick="play(track)" ng-click="showTrackDetails(track)">
    <div class="artwork" style="background-image:url({{ track.artwork_url }})">
      <a class="play-button" ng-click="play(track)"><i class="fa fa-play-circle"></i></a>
    </div>

    <span class="title">{{ track.title }}</span><span class="author">{{ track.user.username }}</span>

    <span class="actions">
      <sc-like-button track-id="track.id"></sc-like-button>
      <sc-repost-button track-id="track.id"></sc-repost-button>
      <sc-save-button track-id="track.id"></sc-save-button>
    </span>

    <span class="created-at" am-time-ago="track.created_at"></span>

  </li>
</ul>
